.imagenes{
    width: 200px;
}

@media all and (max-width: 820px) {
    .imagenes{
        width: 150px;
    }

    .PriceTag {
        margin-bottom: 10px;
    }
    .addedCard{
        min-height:100%;
        min-width: 100px;
    }
}